#brand {
    border-top: 2px solid red;
    border-bottom: 2px solid green;
    padding: 0 10px;
    text-transform: uppercase;
    margin-right: 66%;
}

#top {
    text-align: justify;
    margin-top: 50px;
}

p {
    margin: 0px 0px;
}

.starterMenu {
    border: 1px solid white;
}

span { 
    display: block; 
    width: 33%; 
    height: 8px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.underLine{
    width:100%;
}

.hrGreen {
    background-color: green;
}

.hrWhite {
    background-color: white;
}

.hrRed {
    background-color: red;
}

#titleColour {
    width: 100%;
}

.space {
    margin-bottom: 30px;
}


#title {
    text-align: center;
}

#aboutTitle {
    text-align: center;
    padding-top: 20px;
}

#menuDishes {
    text-align: center;
    padding-top: 120px;
}

#startDish {
    text-align: center;
    padding-top: 30px;
}

body {
    font-family: 'Felipa', cursive;
    font-size: 125%;
    background-color: black;
    color: white;
    margin:0;
    padding-top: 90px;
}

#mainNav {
    background-color: black;
    padding: 30px 20px;
}

a.nav-link {
    color: white !important;
}

.social {
    background-color: black;
    padding: 5px 0px;
    color: white;
}

.social a {
    text-decoration: none;
    margin-right: 10px;
}

#text {
    text-align: right;
}

#social {
    text-align: left;
    background-color: black;
}

.fa {
    padding: 11px;
    font-size: 14px;
    width: 39px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa:hover {
    color: white;
}






